body{ 
   background-color: #c8e6f7; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 100vh;
    margin: 0;
}
.cartao {
      background-color: #8cd4e0; 
      border-radius: 10px;
      padding: 20px 40px; 
      text-align: center; 
      width: 300px;
     } 