h2{
    background-color: bisque;
    color: rgb(136, 13, 13);
    


}
ul{
    background-color: bisque;
    border: 20;
    color: brown;
}
.cesta{
    border: 5px coral solid;
    border-radius: 30px;
    
}